extends layout 

block append scripts 


block main-content 
  h1.margin #{title} Gahee Choi
  div.row.justify-content-center
    img.col-md-6(src="img/GaheeChoiAvatar.jpeg", ,style="max-width:300px", alt='pic of gahee Choi')
    p.col-md-6 Gahee Choi, a versatile professional with a background in computer science and civil engineering. She is currently pursuing Web development studies at Humber College, where she is acquiring the necessary skills and knowledge to excel in this dynamic industry With a strong foundation in problem-solving and critical thinking.
  div.d-grid.gap-2.col-6.mx-auto
    a.button(href='http://katekate.infinityfreeapp.com/php-cms-main/') http://katekate.infinityfreeapp.com/php-cms-main/

